html { 
    height: 80%;
}

body {
    margin : 0;
    padding : 0;
    background-image: url(../img/programador.jpg);
    height: 100%;
}


.body {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    margin-top: 10%;
    height: 50%;
}
.card-body form {
    margin-top: 22%;
    display: flex;
    flex-direction: column;
   
}
.card-body label {
    margin: 6%;
    color: white;
    font-size:  1.0rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.card-body select {
    margin-top: 12%;
}
.card-body button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    margin-top: 12%;
}