<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/Postagem.css">
    <title>Postagens</title>
</head>
<body>
    <div class="body">
        <div class="card-body">
            <form action="">
                <label for="">Titulo</label>
                <input type="text" name='titulo'/>
                <label for="">Descriçao</label>
                <input type="text" name='description'/>
                <select name="" id="">
                    <option value="php">Php</option>
                    <option value="java">Java</option>
                    <option value="javaScript">Java Script</option>
                </select>
                
                <button type="submit">Cadastrar Postagem</button>

            </form>
        </div>
    </div>
</body>
</html>