<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/sobre.css">
    <title>Sobre</title>
</head>
<body>
    <div class="sobre">
            <p>Sobre</p>
        <div class="conteudo">
            
            <p>Blog dev tem como nixo atingir todos os devs iniciantes que não sabem qual linguagem começar, compartilhando assim
                comentarios e feedbaks com devs já atuantes na area.
            </p>
            
        </div>
    </div>
</body>
</html>